@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-glow-white {
    text-shadow:
      0 0 6px rgba(255,255,255,.8),
      0 0 18px rgba(255,255,255,.45);
  }
}

body {
  @apply font-sans;
}

/* hide scrollbars for the slider (Chrome/Safari/Edge) */
.no-scrollbar::-webkit-scrollbar { display: none; }
/* hide for Firefox & old Edge */
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* (optional) make sure the whole page never shows white behind sections */
html, body { background:#000; }
